In [1]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('/root/SocialActionRecognitioninMice/dataset/train.csv')
train_df

,lab_id,video_id,mouse1_strain,mouse1_color,mouse1_sex,mouse1_id,mouse1_age,mouse1_condition,mouse2_strain,mouse2_color,...,pix_per_cm_approx,video_width_pix,video_height_pix,arena_width_cm,arena_height_cm,arena_shape,arena_type,body_parts_tracked,behaviors_labeled,tracking_method
0,AdaptableSnail,44566106,CD-1 (ICR),white,male,10.0,8-12 weeks,wireless device,CD-1 (ICR),white,...,16.0,1228,1068,60.0,60.0,square,familiar,"[""body_center"", ""ear_left"", ""ear_right"", ""head...","[""mouse1,mouse2,approach"", ""mouse1,mouse2,atta...",DeepLabCut
1,AdaptableSnail,143861384,CD-1 (ICR),white,male,3.0,8-12 weeks,NaN,CD-1 (ICR),white,...,9.7,968,608,60.0,60.0,square,familiar,"[""body_center"", ""ear_left"", ""ear_right"", ""late...","[""mouse1,mouse2,approach"", ""mouse1,mouse2,atta...",DeepLabCut
2,AdaptableSnail,209576908,CD-1 (ICR),white,male,7.0,8-12 weeks,NaN,CD-1 (ICR),white,...,16.0,1266,1100,60.0,60.0,square,familiar,"[""body_center"", ""ear_left"", ""ear_right"", ""late...","[""mouse1,mouse2,approach"", ""mouse1,mouse2,atta...",DeepLabCut
3,AdaptableSnail,278643799,CD-1 (ICR),white,male,11.0,8-12 weeks,wireless device,CD-1 (ICR),white,...,16.0,1224,1100,60.0,60.0,square,familiar,"[""body_center"", ""ear_left"", ""ear_right"", ""head...","[""mouse1,mouse2,approach"", ""mouse1,mouse2,atta...",DeepLabCut
4,AdaptableSnail,351967631,CD-1 (ICR),white,male,14.0,8-12 weeks,NaN,CD-1 (ICR),white,...,16.0,1204,1068,60.0,60.0,square,familiar,"[""body_center"", ""ear_left"", ""ear_right"", ""late...","[""mouse1,mouse2,approach"", ""mouse1,mouse2,atta...",DeepLabCut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8784,UppityFerret,1610683375,C57Bl/6N,black,male,8.0,8 weeks,csds,CD1,white,...,13.0,664,572,38.0,38.0,circular,neutral,"[""body_center"", ""ear_left"", ""ear_right"", ""hip_...","[""mouse1,mouse2,reciprocalsniff"", ""mouse1,mous...",DeepLabCut
8785,UppityFerret,1725214092,C57Bl/6N,black,male,27.0,8 weeks,NaN,CD1,white,...,12.8,608,576,38.0,38.0,circular,neutral,"[""body_center"", ""ear_left"", ""ear_right"", ""hip_...","[""mouse1,mouse2,intromit"", ""mouse1,mouse2,moun...",DeepLabCut
8786,UppityFerret,1960237444,C57Bl/6N,black,male,14.0,8 weeks,csds,CD1,white,...,12.5,592,576,38.0,38.0,circular,neutral,"[""body_center"", ""ear_left"", ""ear_right"", ""hip_...","[""mouse1,mouse2,reciprocalsniff"", ""mouse1,mous...",DeepLabCut
8787,UppityFerret,2045808129,C57Bl/6N,black,male,12.0,8 weeks,csds,CD1,white,...,12.5,624,572,38.0,38.0,circular,neutral,"[""body_center"", ""ear_left"", ""ear_right"", ""hip_...","[""mouse1,mouse2,reciprocalsniff"", ""mouse1,mous...",DeepLabCut
8788,UppityFerret,2104375029,C57Bl/6N,black,male,16.0,8 weeks,NaN,CD1,white,...,12.5,624,572,38.0,38.0,circular,neutral,"[""body_center"", ""ear_left"", ""ear_right"", ""hip_...","[""mouse1,mouse2,intromit"", ""mouse1,mouse2,moun...",DeepLabCut

In [4]:
tracking = pd.read_parquet('/root/SocialActionRecognitioninMice/dataset/train_tracking/AdaptableSnail/44566106.parquet')
tracking

,video_frame,mouse_id,bodypart,x,y
0,0,1,body_center,1161.543945,523.112976
1,0,1,ear_right,1146.305054,587.619995
2,0,1,headpiece_bottomfrontright,1163.192017,588.580017
3,0,1,headpiece_topbackright,1192.211060,558.434998
4,0,1,headpiece_topfrontleft,1191.343994,620.625977
...,...,...,...,...,...
1087653,18450,4,lateral_left,250.681000,646.434021
1087654,18450,4,lateral_right,297.471985,679.210022
1087655,18450,4,tail_base,265.600006,688.062012
1087656,18450,4,tail_midpoint,263.371002,748.155029
1087657,18450,4,tail_tip,531.512024,489.929993

In [8]:
tracking.groupby('video_frame').agg({
    'bodypart': 'count',
    'mouse_id' : set
}).sort_values('bodypart')

             bodypart      mouse_id
video_frame
17917              27        {1, 3}
17755              39     {1, 2, 3}
17649              42     {1, 2, 3}
17754              43     {1, 2, 3}
17916              43     {1, 2, 3}
...               ...           ...
4632               67  {1, 2, 3, 4}
5733               67  {1, 2, 3, 4}
6238               67  {1, 2, 3, 4}
8931               67  {1, 2, 3, 4}
17384              67  {1, 2, 3, 4}

[18451 rows x 2 columns]

In [5]:
tran_ann = pd.read_parquet('/root/SocialActionRecognitioninMice/dataset/train_annotation/AdaptableSnail/44566106.parquet')
tran_ann

     agent_id  target_id    action  start_frame  stop_frame
0           2          2      rear            4         139
1           4          2     avoid           13          52
2           4          4      rear          121         172
3           3          3      rear          156         213
4           4          4      rear          208         261
..        ...        ...       ...          ...         ...
337         3          1  approach        18172       18184
338         2          2      rear        18195       18287
339         1          4  approach        18266       18305
340         3          3      rear        18297       18363
341         2          2      rear        18320       18362

[342 rows x 5 columns]

In [9]:
processed = pd.read_parquet('/root/SocialActionRecognitioninMice/features/raw_pose/44566106.parquet')
processed

,video_frame,mouse_id,x_body_center,x_ear_left,x_ear_right,x_headpiece_bottombackleft,x_headpiece_bottombackright,x_headpiece_bottomfrontleft,x_headpiece_bottomfrontright,x_headpiece_topbackleft,...,vis_headpiece_topbackright,vis_headpiece_topfrontleft,vis_headpiece_topfrontright,vis_lateral_left,vis_lateral_right,vis_neck,vis_nose,vis_tail_base,vis_tail_midpoint,vis_tail_tip
0,0,1,1161.543945,NaN,1146.305054,NaN,NaN,NaN,1163.192017,NaN,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
1,0,2,334.800995,NaN,310.395996,381.666992,364.747986,362.169006,338.841003,394.040985,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
2,0,3,1152.323975,1202.071045,1146.833984,1212.435059,1182.329956,1195.391968,1155.413940,1210.114990,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
3,0,4,369.373993,NaN,355.019012,NaN,NaN,395.816986,377.821991,428.032013,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
4,1,1,1162.682983,NaN,1139.979980,NaN,NaN,NaN,1162.135986,NaN,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73775,18449,4,274.894012,269.326996,304.476990,NaN,252.278000,NaN,NaN,237.453995,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
73776,18450,1,383.847992,331.944000,344.325012,307.075989,345.516998,NaN,311.819000,305.839996,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
73777,18450,2,876.814026,NaN,815.935974,NaN,873.736023,826.468994,824.044006,880.101013,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
73778,18450,3,699.848999,NaN,640.382019,NaN,NaN,649.797974,652.075989,704.762024,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
73779,18450,4,273.367004,260.401001,NaN,NaN,257.652008,292.335999,NaN,237.643005,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0

In [10]:
mouse_center = pd.read_parquet('/root/SocialActionRecognitioninMice/features/mouse_center/44566106.parquet')
mouse_center

,video_frame,mouse_id,cx,cy,vis_frac,vx,vy,speed
0,0,1,1152.435669,523.155273,0.611111,0.000000,0.000000,0.000000
1,0,2,352.547913,479.128937,0.833333,0.000000,0.000000,0.000000
2,0,3,1152.866455,341.014191,0.888889,0.000000,0.000000,0.000000
3,0,4,380.763763,338.052643,0.777778,0.000000,0.000000,0.000000
4,1,1,1153.708374,543.471985,0.666667,1.272705,20.316711,20.356535
...,...,...,...,...,...,...,...,...
73775,18449,4,291.968781,631.677856,0.722222,0.896149,3.507751,3.620415
73776,18450,1,350.754578,611.478821,0.833333,-1.254150,2.433105,2.737315
73777,18450,2,869.603394,872.135376,0.888889,-1.666748,0.721191,1.816085
73778,18450,3,706.283325,336.820465,0.777778,0.500854,-3.884827,3.916980
73779,18450,4,289.485626,625.477905,0.722222,-2.483154,-6.199951,6.678731

In [12]:
pairwise_features = pd.read_parquet("/root/SocialActionRecognitioninMice/features/pairwise/44566106.parquet")
pairwise_features

,video_frame,pair_id,agent_id,target_id,dist,rel_x,rel_y,rel_vx,rel_vy,rel_speed
0,0,1_1,1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0,2_1,2,1,801.098459,-799.887756,-44.026337,0.000000,0.000000,0.000000
2,0,2_2,2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0,3_1,3,1,182.141592,0.430786,-182.141083,0.000000,0.000000,0.000000
4,0,3_2,3,2,812.148664,800.318542,-138.114746,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
184410,18450,3_3,3,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
184411,18450,4_1,4,1,62.847902,-61.268951,13.999084,-1.229004,-8.633057,8.720098
184412,18450,4_2,4,2,630.378086,-580.117767,-246.657471,-0.816406,-6.921143,6.969127
184413,18450,4_3,4,3,506.994516,-416.797699,288.657440,-2.984009,-2.315125,3.776786
184414,18450,4_4,4,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [16]:
labels = np.load('/root/SocialActionRecognitioninMice/labels/143861384_labels.npy', allow_pickle=True).item()
labels

EOFError: No data left in file